<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div align="center">
<h1>회원목록 보기 (<a href=index.html>index</a>)</h1>
<table border=1>
<tr>
<td>sno</td><td>sname</td><td>kor</td><td>eng</td><td>math</td><td>hist</td>
</tr>

<tr th:each="m : ${li}">
	<td>
	<div th:if="${m.sno} != null">
	<a th:href="@{/content(sno=${m.sno})}" th:text="${m.sno}"></a>
	</div>
	</td>
	<td th:text="${m.sname}"></td>
	<td th:text="${m.kor}"></td>
	<td th:text="${m.eng}"></td>
	<td th:text="${m.math}"></td>
	<td th:text="${m.hist}"></td>
</tr>
</table>

</div>
<br>

</body>
</html>